h2 {
    font-weight: 700;
    font-size: 1.3rem;
}

.btn {
    padding: 10px 15px;
    border: black solid 1px;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
    }
}

.red {
    background: red;
    color: white;
    font-weight: 700;
    border: none;    
    border: red solid 1px;
    transition: 300ms;
    &:hover {
        cursor: pointer;
        background: none;
        color: red;
    }
}

.dlt {
    border-color: #f00;
    color: #f00;

    &:hover {
        cursor: pointer;
        background-color: red;
        color: white;
    }
}

[type=submit]:hover{
    cursor: pointer;
}
